<h1>Notas del libro "<%= @book.name %>"</h1>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Titlulo</th>
      <th scope="col">Contenido</th>
      <th scope="col" colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><span class="truncate"><%= note.body.to_plain_text %></span></td>
        <td><%= link_to 'Abrir', book_note_path(@book, note) %></td>
        <td><%= link_to 'Editar', edit_book_note_path(@book, note) %></td>
        <td><%= link_to 'Exportar', book_note_path(@book, note, format: "pdf"), target: "_blank" %></td>
        <td><%= link_to 'Eliminar', book_note_path(@book, note), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
    <%= will_paginate @notes, :container => false %>
</div>

<br>

<%= link_to 'Nueva nota', new_book_note_path(@book), class: "btn btn-success" %>
<%= link_to 'volver', books_path, class: "btn btn-danger"  %>
