<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Listado de libros</th>
      <th scope="col">Cantidad de notas</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.notes.count %></td>
        <td><%= link_to 'Acceder a Notas', book_notes_path(book) %></td>
        <td><%= link_to 'Editar nombre de libro', edit_book_path(book) %></td>
        <td><%= link_to 'Eliminar libro', book, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
    <%= will_paginate @books, :container => false %>
</div>

<br>

<%= link_to 'Nuevo libro', new_book_path, class: "btn btn-success" %>
